* {
  font-family: "Balsamiq Sans", cursive;
}
.morning {
  background: rgb(224, 210, 7);
  background: linear-gradient(
    90deg,
    rgba(224, 210, 7, 0.5499241933101365) 0%,
    rgba(121, 103, 9, 0.6507645294445903) 48%,
    rgba(255, 136, 18, 1) 100%
  );
}
.evening {
  background: rgb(7, 107, 224);
  background: linear-gradient(
    90deg,
    rgba(7, 107, 224, 0.33703903924851186) 0%,
    rgba(16, 9, 121, 0.6507645294445903) 48%,
    rgba(176, 18, 255, 1) 100%
  );
}
.night {
  background: rgb(7, 114, 224);
  background: linear-gradient(
    to top right,
    rgba(7, 114, 224, 0.5723331568955707) 0%,
    rgba(0, 7, 99, 0.6507645294445903) 48%,
    rgba(20, 0, 87, 1) 100%
  );
}

/* Card */

.fa-clock {
  font-size: 1.5rem;
  margin-top: 10px;
}
#current-time {
  margin-bottom: 225px;
}
.fa-plus-circle {
  color: orange;
  margin-top: 2px;
  background: transparent;
}
.degree {
  font-weight: bolder;
}

/* Heart */
#heart {
  color: rgba(255, 255, 255, 0.1);
  margin-left: 5px;
  transition: all 0.5s ease;
  /* background: transparent !important; */
}
#heart:hover {
  color: rgba(0, 255, 255, 0.8);
}
.heartclick {
  color: rgba(0, 255, 255, 0.8);
}

@media (max-width: 576px) {
  #w-desc {
    font-size: 15px;
  }
  #w-string {
    font-size: 40px;
    margin-top: 10px;
  }
  .morning {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .evening {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .night {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  #w-temp-max,
  #w-temp-min,
  #w-windspeed {
    font-size: 20px;
  }

  blockquote p {
    font-size: 15px;
  }
  blockquote cite {
    font-size: 12px;
  }
}
